<p style="margin: 0 0 1em 0;">
  Hi <%= @recipient_email %>,
</p>

<p style="margin: 0 0 1em 0;">
  Please accept our most sincere apologies for the repeating challenge emails.  We were making system updates and it had an unintended effect on our email list.
</p>

<p style="margin: 0 0 1em 0;">
  As a new startup, we're working around the clock trying to make the experience and system better for our users.  There's so much to do and we are a small team.  We will strive to make sure this doesn't happen again.
</p>

<p style="margin: 0 0 1em 0;">We would like to extend to you an offer to use the test runner that comes in the standard membership for free for one week as a token of our apologies for this mixup.</p>

<p style="margin: 0 0 1em 0;">Just reply back to this email and we will set your next challenge email up with it.</p>

<p style="margin: 0 0 1em 0;">Kind regards,</p>

<p style="margin: 0 0 1em 0;">Abdul </br><span style="font-style: italic;">Founder and Chief Growth Officer</span></p>