<h2 class="welcome">We need your feedback! Help us create a better product for you.</h2>

<p style="margin: 0 0 1em 0;">
  Hi <%= @recipient_email %>,
</p>

<p style="margin: 0 0 1em 0;">
  My name is Abdul and I'm the founder and Chief Growth Officer here at Daily JavaScript.  Thank you for signing up and using Daily JavaScript for the past week. 
</p>

<p style="margin: 0 0 1em 0;">
  In an effort to get to know our users and try to make the service better for you, we hope you can answer a few questions to better guide our decisions.  
</p>

<ol style="margin: 0 0 1em 0;">
  <li>What has been your experience with the questions so far -- are they too easy, just challenging enough or too hard?</li>
  &nbsp;
  <li>Would you recommend this service to your friends? If not, why?</li>
  &nbsp;
  <li>Does the standard or premium package interest you? If not, why?</li>
</ol>

  <p style="margin: 0 0 1em 0;">Just reply back to this email and let me know. I'd really appreciate it</p>

  <p style="margin: 0 0 1em 0;">Kind regards,</p>

  <p style="margin: 0 0 1em 0;">Abdul</p>