<% if (@status == 0) %>
<p style="margin: 0 0 1em 0;">
	Hi,
</p>

<p style="margin: 0 0 1em 0;">
	We invite you to become a member of Daily JavaScript. Daily JavaScript is a service that provides you with daily emails of coding challenges, code snippets, or rules for better programming techniques, with the aim of improving your programming skills and getting you prepared for your coding interview.
</p>
<p style="margin: 0 0 1em 0;">
	Signing up is easy. Simply click on this link: <a href="<%= @link %>">Daily JavaScript</a>, to be taken to our homepage and follow the instructions to sign up. You will find that Daily JavaScript gives you a valuable service to take your programming skills to the next level.
</p>

<% elsif (@status == 1) %>

<% email_lines = @email_content.lines.map(&:chomp) %>
<% email_lines.each do |line| %>
<p style="margin: 0 0 1em 0;">
	<%= line %>
</p>
<% end %>

<p style="margin: 0 0 1em 0;">
	Signing up is easy. Simply click on this link: <a href="<%= @link %>">Daily JavaScript</a>, to be taken to our homepage and follow the instructions to sign up.
</p>


<% end %>