<h2>Are you ready for the coding challenge today?</h2>

<p style="margin: 0 0 1em 0;">
	Hi Daily JavaScripter,
</p>
<p>Hope you're having a wonderful day!</p>
<p>&nbsp;</p>
<div style="display:flex;">
	<% if @next_challenge.id % 2 != 0 %>
		<img src="https://dailyjavascript.herokuapp.com/programming.png" style="max-height: 144px; max-width: 210px; margin-bottom: 1rem;">
	<% else %>
		<img src="https://dailyjavascript.herokuapp.com/version_control.png" style="max-height: 144px; max-width: 210px; margin-bottom: 1rem;">
	<% end %>
</div>
<p>&nbsp;</p>
<% challenge_lines = @next_challenge.challenge.lines.map(&:chomp) %>
<% challenge_lines.each do |line| %>
<p style="margin: 0 0 1em 0;">
	<%= line %>
</p>
<% end %>
<p>&nbsp;</p>
<p>Good luck!</p>
<p>&nbsp;</p>
<% if !@user.membership_level.nil? && @user.membership_level == "free" %>
	<p><strong>Upgrade to a <a href="https://www.dailyjavascript.io/?refcode=6c05f1aacbab4564f83f#payment" target="_blank">standard or premium plan</a> to get access to solutions or tools to further your understanding and help you become the best programmer you can be.</p></strong>
<% end%>
