<p style="margin: 0; padding-left: 32px; margin: 0 0 1em 0;">
	Hi Daily JavaScripter,
</p>

<% challenge_lines = @next_challenge.challenge.lines.map(&:chomp) %>
<% challenge_lines.each do |line| %>
<p style="margin: 0; margin: 0 0 1em 0;">
	<%= line %>
</p>
<% end %>