<h2 style="width: 100%; background-color: rgb(243, 223, 73); color: black; font-family: Futura, 'Trebuchet MS', Arial, sans-serif; padding: 0.5em 2em; margin: 0 0 1em 0;">Daily JavaScript</h2>
<h3 style="margin: 0; padding-left: 32px; margin: 0 0 1em 0;">Daily JavaScript - today's email</h3>
<p style="margin: 0; padding-left: 32px; margin: 0 0 1em 0;">
	Hi Daily JavaScripter,
</p>

<% challenge_lines = @next_challenge.challenge.lines.map(&:chomp) %>
<% challenge_lines.each do |line| %>
<p style="margin: 0; padding-left: 32px; margin: 0 0 1em 0;">
	<%= line %>
</p>
<% end %>