<style>
	.img_welcome_email {
		height: 10rem;
		margin-bottom: 1rem;
	}
</style>
<h2>Are you ready for the coding challenge today?</h2>

<p style="margin: 0 0 1em 0;">
	Hi Daily JavaScripter,
</p>
<p>Hope you're having a wonderful day!</p>
<div style="display:flex;">
	<% if @next_challenge.id % 2 != 0 %>
		<img src="/programming.svg" class="img_welcome_email"></img>
	<% else %>
		<img src="/version_control.svg" class="img_welcome_email"></img>
	<% end %>
</div>
<% challenge_lines = @next_challenge.challenge.lines.map(&:chomp) %>
<% challenge_lines.each do |line| %>
<p style="margin: 0 0 1em 0;">
	<%= line %>
</p>
<% end %>

<p>Good luck!</p>

<% if !@user.membership_level.nil? && @user.membership_level == "free" %>
	<p><strong>Upgrade to a <a href="https://www.dailyjavascript.io/?refcode=6c05f1aacbab4564f83f#payment" target="_blank">standard or premium plan</a> to get access to solutions or tools to further your understanding and help you become the best programmer you can be.</p></strong>
<% end%>
