<h2 style="margin: 0 0 1em 0;">
Hi Daily JavaScripter,
</h2>

<div style="display:flex; margin-bottom: 0.65rem;">
	<% if @next_challenge.id % 2 != 0 %>
		<img src="https://dailyjavascript.herokuapp.com/programming.png" style="max-height: 144px; max-width: 240px; margin-bottom: 1rem;">
	<% else %>
		<img src="https://dailyjavascript.herokuapp.com/version_control.png" style="max-height: 144px; max-width: 210px; margin-bottom: 1rem;">
	<% end %>
</div>
<h3>Are you ready for today's coding challenge?</h3>

<% challenge_lines = @next_challenge.challenge.lines.map(&:chomp) %>
<% challenge_lines.each do |line| %>
<p style="margin: 0 0 1em 0;">
	<%= line %>
</p>
<% end %>

<p>Good luck!</p>
<p>&nbsp;</p>

<p>P.S. Please feel free to <a href="mailto: founders@dailyjavascript.io">email us</a> if you have any questions or comments about the coding challenge or the service in general.  We love to hear from our users.</p>
<% if @user.membership_level.nil? || @user.membership_level == "free" %>
	<p><strong>Upgrade to a <a href="https://www.dailyjavascript.io/?refcode=ecf85b5bebb743ceb675#payment" target="_blank">standard or premium plan</a> to get a video solution to today's challenge and a test runner to test your code functionality.</strong></p>
<% end%>
