<h2 style="margin: 0 0 1em 0;">
Hello Daily JavaScripter,
</h2>

<div style="display:flex; margin-bottom: 0.65rem;">
	<% if 1 % 2 != 0 %>
		<img src="https://dailyjavascript.herokuapp.com/programming.png" style="max-height: 144px; max-width: 240px; margin-bottom: 1rem;">
	<% else %>
		<img src="https://dailyjavascript.herokuapp.com/version_control.png" style="max-height: 144px; max-width: 210px; margin-bottom: 1rem;">
	<% end %>
</div>
<h3>Are you ready for the coding challenge today?</h3>

<% challenge_lines = @next_challenge.challenge.lines.map(&:chomp) %>
<% challenge_lines.each do |line| %>
<p style="margin: 0 0 1em 0;">
	<%= line %>
</p>
<% end %>

<p>Good luck!</p>
<p>&nbsp;</p>
<% if !@user.membership_level.nil? && @user.membership_level == "free" %>
	<p><strong>Upgrade to a <a href="https://www.dailyjavascript.io/?refcode=ecf85b5bebb743ceb675#payment" target="_blank">standard or premium plan</a> to get access to solutions or tools to further your understanding and help you become the best programmer you can be.</strong></p>
<% end%>
