Welcome!

Are you ready to launch your skills to the next level?  Thank you for signing up for Daily JavaScript! With our daily coding challenges, mini-lessons, code snippets, and blog articles, you will improve your knowledge of both JavaScript and important programming concepts.

These daily emails will lead you to mastery of programming fundamentals and practical JavaScript coding. You will also get important insights into passing the coding portion of your technical interview.

While you're waiting for the first challenge to arrive in your inbox, check out this cool article on enabling JavScript strict mode: 
<a href="https://dailyjavascriptblog.netlify.com/posts/strict-mode/">What is strict mode and should you enable it when writing JavaScript?</a>




