<h2 class="welcome">Welcome and thank you for signing up to Daily JavaScript!</h2>
<div style="display:flex;">
	<img src="https://dailyjavascript.herokuapp.com/launch.png" style="max-height: 144px; max-width: 210px; margin-bottom: 0.5rem;">
</div>
<h3>Are you ready to launch your skills to the next level? </h3>
<p style="margin: 0 0 1em 0;">
	With our daily coding challenges, mini-lessons, code snippets, and blog articles, you will improve your knowledge of both JavaScript and important programming concepts.
</p>
<p style="margin: 0 0 1em 0;">
	These daily emails will lead you to mastery of programming fundamentals and practical JavaScript coding. You will also get important insights into passing the coding portion of your technical interview.
</p>
<p style="margin: 0 0 1em 0;">
	Thank you for becoming a member of Daily JavaScript and may you be successful in all your programming endeavors!
</p>
<p style="margin: 0 0 1em 0;">
	While you're waiting for the first challenge to arrive in your inbox, check out this cool article on enabling JavaScript strict mode:
</p>
<ul>
	<li><a href="https://dailyjavascriptblog.netlify.com/posts/strict-mode/">What is strict mode and should you enable it when writing JavaScript?</a></li>
</ul>
