<h2 style="margin: 0; padding-left: 32px; margin: 0 0 1em 0;">Welcome and thank you for signing up to Daily Javascript</h2>
<p style="margin: 0; padding-left: 32px; margin: 0 0 1em 0;">
	With our daily coding challenges, mini-lessons, code snippets, and blog articles, you will improve your knowledge of both JavaScript and important programming concepts.
</p>
<p style="margin: 0; margin: 0 0 1em 0;">
	These daily emails will lead you to mastery of programming fundamentals and practical JavaScript coding. You will also get important insights into passing the coding portion of your technical interview.
</p>
<p style="margin: 0; margin: 0 0 1em 0;">
	Thank you for becoming a member of Daily Javascript and may you be successful in all your programming endeavors!
</p>