<body>
  <h2 class="logo-header">Daily JavaScript</h2>
	<% if @unsubscribe_result == 1 %>
		<p class="goodbye-message">We're sorry to see you go.  You are now unsubscribed!</p>
		<div class="flex">
			<img class="goodbye-gify" src="https://media.giphy.com/media/pHXeYveikVLIvx7AtF/giphy.gif" alt="Image result for good night and good luck gif">
		</div>
		<p class="goodbye-message">Change your mind?  Click <a href="https://www.dailyjavascript.io/">here</a> to resubscribe.</p>
	<% else %>
		<div class="flex">
			<img class="fail-gify" src="https://i.imgur.com/C2oQ600.gif" alt="Image result for good night and good luck gif">
		</div>
		<p class="unsubscribe-failure-message">Oh no! Your unsubscribe attempt was unsucccessful.</p> 
		<p class="unsubscribe-failure-message-body">It could be due to your free account already being unsubscribed or the account is a paid account and not a free account.</p>
		<p class="unsubscribe-failure-message-body">If you have a paid account, and you would like to unsubscribe, please email support@dailyjavascript.io with the subject 'End subscription' and include in the body of the email the email address associated with your account and which monthly membership plan you are currently enrolled in.</p>
		<p class="unsubscribe-failure-message-body">If you have any questions. please click here to <a href="mailto:support@dailyjavascript.io">email</a> us.
	<% end %>
</body>