<p>Enter the challenge in the textarea below </p>
<br>
<br>
<br>
<textarea id="challengeText" cols="160" rows="40"></textarea>
<br>
<br>
<p>Check this box if this is <span style="font-weight: bold; font-style: italic; font-size: 1.25em;">NOT</span> a challenge. Check this box if this is a lesson, tip, or advice: <input id="notChallengeCheckBox" type="checkbox" onclick="disableAssertions()" /></p>
<br>
<br>
<p>Enter the name of challenge function <span style="font-weight: bold; font-style: italic; font-size: 1.25em;">WITHOUT</span> any parentheses, for example, write testFunction, not testFunction()</p>
<p><input type="text" id="testFunction" style="height: 1.25em; width: 20em;"/></p>
<br>
<br>
<br>
<p>Enter between 1 to 3 test assertion(s), with no spaces in the assertions on either side. The values on the left side of the assertions can be separated by commas but no spaces.</p>
<p>When entering strings, <span style="font-weight: bold; font-style: italic; font-size: 1.25em;">please also enter the quotes to indicate it is a string and use single quotes</span>, not double quotes. For example: 'apple' = 'red', or, 'apple',4 = 'orange'</p>
<br>
<p><input type="text" id="testAssertion1LeftSide" style="height: 1.25em; width: 20em;" /> = <input type="text" id="testAssertion1RightSide" style="height: 1.25em; width: 20em;" /></p>
<br>
<p><input type="text" id="testAssertion2LeftSide" style="height: 1.25em; width: 20em;" /> = <input type="text" id="testAssertion2RightSide" style="height: 1.25em; width: 20em;" /></p>
<br>
<p><input type="text" id="testAssertion3LeftSide" style="height: 1.25em; width: 20em;" /> = <input type="text" id="testAssertion3RightSide" style="height: 1.25em; width: 20em;" /></p>
<br>
<br>
<br>
<p>Enter the pattern type</p>
<p><input type="text" id="pattern_type" style="height: 1.25em; width: 20em;"/></p>
<br>
<br>
<br>
<button onclick="submitChallenge(1);">Submit New Challenge</button>
<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
