<p>Enter the challenge in the textarea below </p>
<br>
<br>
<br>
<textarea id="challengeText" cols="160" rows="40"></textarea>
<br>
<br>
<p>Enter the name of the function to be tested without the parentheses, for example, testFunction, not testFunction()</p>
<p><input type="text" id="testFunction" /></p>
<br>
<br>
<p>Enter up to three test assertions, if less than three, that's ok too, with no spaces in the assertions on either side.</p>
<p>When entering strings, please use single quotes, not double quotes. For example: 'apple' = 'red', or, 'apple',4 = 'orange'</p>
<br>
<p><input type="text" id="testAssertion1LeftSide" /> = <input type="text" id="testAssertion1RightSide" /></p>
<br>
<p><input type="text" id="testAssertion2LeftSide" /> = <input type="text" id="testAssertion2RightSide" /></p>
<br>
<p><input type="text" id="testAssertion3LeftSide" /> = <input type="text" id="testAssertion3RightSide" /></p>
<br>
<br>
<br>
<button onclick="submitChallenge(1);">Email now (do this after 8am EST to email out right away)</button>
<br>
<br>
<br>
<button onclick="submitChallenge(2);">Email on schedule (do this before 6am EST and it will be emailed on schedule)</button>
