/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.listing {
	-webkit-transition: margin-left 0.5s ease-in-out, background-color 3.5s;
	-moz-transition: margin-left 0.5s ease-in-out, background-color 3.5s;
	-o-transition: margin-left 0.5s ease-in-out, background-color 3.5s;
	-ms-transition: margin-left 0.5s ease-in-out, background-color 3.5s;
	transition: margin-left 0.5s ease-in-out, background-color 3.5s;
	margin-left: -100%;
	background-color: pink;
}

.logo-header {
	width: auto;
	background-color: rgb(243, 223, 73); 
	color: black; 
	font-family: Futura, 'Trebuchet MS', Arial, sans-serif; 
	padding: 0.5em 0;
	text-align: center;
}

.goodbye-message {
	font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
	font-size: 1.7rem;
	text-align: center; 
}

.flex {
	display:flex;
	width: 100%;
	justify-content: center;
}

.unsubscribe-failure-message {
	font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
	font-size: 1.4rem;
	margin: 1rem;
}

.unsubscribe-failure-message-body {
	font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
	font-size: 1.2rem;
	margin: 1rem;
	text-align: justify;
}