<!DOCTYPE html>
<html>
  <head>
    <title>Dailyjavascript</title>
    <script src="https://unpkg.com/react@16/umd/react.production.min.js" crossorigin></script>
	<script src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js" crossorigin></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
  </head>

  <body>
    <%= yield %>
  </body>
  	<%= javascript_include_tag "ref_codes", type: "text/babel" %>
</html>