<!DOCTYPE html>
<html>
  <head>
    <title>Dailyjavascript</title>
    <script src="https://unpkg.com/react@16/umd/react.production.min.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js" crossorigin></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
  
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>  
  </head>

  <body>
    <%= yield %>
  </body>
  	<script type="text/babel" src="ref_codes.js"></script>
</html>